<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head.ejs') %>
<body>
    <h1>Students List</h1>
    <%- include( 'partials/navigation.ejs') %>
    <ul>
        <% students.forEach(student => { %>
            <li>
                <p><%= student.fullName %></p>
                <p><%= student.code %></p>
                <p><%= student.fieldOfStudies %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
